@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(#323232, #232323);

}
.display {
  font-family: 'Playfair Display', serif;
}

svg {
  line-height: 0;
}


a {
  text-decoration: none;
  color: 'white',

}

a:link {
  color: 'white';
  text-decoration: none;
}
a:visited {
  color: 'white';
  text-decoration: none;
}
a:hover{
  color: 'white';
  text-decoration: none;
}

 a:active{
  color: 'white';
  text-decoration: none;
}
