body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 48px;
    height: 24px;
    background: grey;
    display: block;
    border-radius: 12px;
    position: relative;
}

.switch label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.switch input:checked + label {
    background: #bada55;
}

.switch input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switch label:active:after {
    width: 31px;
}

